{% if not is_htmx %}
{% extends "_layout.html" %}
{% endif %}

{% block content %}
<div class="mb-6 flex flex-col sm:flex-row justify-between items-start sm:items-center">
  <h1 class="text-2xl sm:text-3xl font-bold text-gray-800 dark:text-gray-200 mb-4 sm:mb-0">
    Financial Statement for <span class="text-blue-600 dark:text-blue-400">{{customer.customer_name}}</span>
  </h1>
  <div class="flex items-center">
    <label for="decimalPlaceSelector" class="mr-2 text-sm font-medium text-gray-700 dark:text-gray-200">
      Decimal Places:
    </label>
    <select id="decimalPlaceSelector" class="rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
      <option value="0">0</option>
      <option value="1">1</option>
      <option value="2" selected>2</option>
      <option value="3">3</option>
      <option value="4">4</option>
    </select>
  </div>
</div>

<div id="hot-app"></div>
<div id="spreads-table"></div>

<div class="py-2 flex justify-end">
  <button 
    id="saveChangesButton" 
    disabled 
    class="rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:ring-offset-gray-50 disabled:opacity-50 disabled:cursor-not-allowed disabled:bg-indigo-400 disabled:hover:bg-indigo-400 transition-colors duration-200"
  >
    Save changes
  </button>
</div>

{% include "loading_indicator.html" %}

<script>
  // Create a global config object with the template variables
  window.financialConfig = {
    currentCustomerId: "{{ customer.id }}",
    spreadsData: {{ data | tojson | safe }},
    statementType: 'pnl',
    datesInStatement: {{ dates_in_statement | tojson }}
  };
</script>

<script src="/static/js/statement/financialStatement.js" type='text/javascript' defer
        id="financial-statement-script"></script>


{% endblock %}