    <div class="flex justify-between items-center">
        <h2 class="text-2xl font-bold leading-7 text-gray-900 dark:text-gray-100 sm:text-3xl sm:truncate">
            Rating for {{ customer.customer_name }}
        </h2>
        <div class="relative">
            <button id="settingsButton" class="text-gray-500 hover:text-gray-700 dark:text-gray-400 dark:hover:text-gray-200">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z" />
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                </svg>
            </button>
            <div id="settingsMenu" class="hidden absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-white dark:bg-gray-800 ring-1 ring-black ring-opacity-5">
                <div class="py-1" role="menu" aria-orientation="vertical" aria-labelledby="options-menu">
                    <div class="px-4 py-2 text-sm text-gray-700 dark:text-gray-200 font-medium">Settings</div>
                    
                    <!-- View Options -->
                    <div class="px-4 py-2 text-sm text-gray-700 dark:text-gray-300 font-medium">View Options</div>
                    <a href="{{ url_for('view_customer_rating', customer_id=customer.id ).include_query_params(rating_instance_id=rating_instance.id,view_type='tabbed') }}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-700 pl-8">Tabbed View</a>
                    <a href="{{ url_for('view_customer_rating', customer_id=customer.id ).include_query_params(rating_instance_id=rating_instance.id,view_type='single') }}"  class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-700 pl-8">Single Page View</a>
                    
                    <!-- Download Options -->
                    <div class="mt-2 px-4 py-2 text-sm text-gray-700 dark:text-gray-300 font-medium">Download Options</div>
                    <a href="{{ url_for('download_rating_report', customer_id=customer.id, format='docx') }}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-700 pl-8">Download DOCX</a>
                    <a href="{{ url_for('download_rating_report', customer_id=customer.id, format='pdf') }}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-700 pl-8">Download PDF</a>
                </div>
            </div>
        </div>
    </div>
